@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-cream text-gray-900 font-sans antialiased dark:bg-slate-900 dark:text-white transition-colors duration-300;
  }
}